@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #74EBD5;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );

}

header h1{
    padding: 45px;
    margin: 10px;
    color: rgb(23, 24, 26);
    font-family: 'Agdasima', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    text-shadow: 5px 5px 5px rgba(33, 32, 32, 0.329)
}

.container{
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        width: 400px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient( 174.2deg,  rgba(255, 244, 228, 0.715) 7.1%, rgba(240, 246, 238, 0.233) 67.4% );
        box-shadow: 10px 10px 10px rgba(3, 85, 86, 0.811);    
        
}

form{
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Agdasima', sans-serif;
    font-weight: lighter;
    font-size: 23px;
    
}

input{
    margin-top: 50px;
    padding: 5px;
    width: 150px;
    
    border-radius: 3px;
}

button{
    margin: 30px;
    padding: 5px;
    font-family: 'Agdasima', sans-serif;
    font-weight: bolder;
    font-size: large;
    background-color: #ffffffc0;
}


button:hover{
    background-color: rgb(73, 72, 72);
    color: white;
}

#space{
    background-color: rgba(3, 85, 86, 0.218);
    color: bisque;
    border-radius: 5px;
    
}
