*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#fff, grey);
}

main{
    width: 300px;
    height: 500px;
    background-color:#ffffff89;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.129);
    box-shadow: 5px 5px 5px grey;
    
    
}

h1{
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(58, 58, 58);
    
}

.wrapper{
    top: 25%;
    left: 25%;
}

form{
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(58, 58, 58);
    border: 1px solid rgba(255, 255, 255, 0.129);
       
}

button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    border-radius: 3px;
    background: linear-gradient(#fff, rgb(179, 177, 177));
    color: rgb(10, 10, 10);
}

button:hover{
    background: grey;
}
